.col-lg-6
  .ibox.float-e-margins
    .ibox-title
      %h2 Weights

    .ibox-content
      .row
        .col-sm-10
          %h3.m-t-none.m-b
            Record the latest weight
          = form_for [@user, @cat, @weight], html: { role: "form" } do |f|
            .form-group
              = f.label :amount, "Amount (lbs)"
              = f.number_field :amount, step: 0.001, placeholder: 12.40, class: "form-control"
            .form-group
              = f.submit "Add Weight", class: "btn btn-primary pull-left"
          %br

          %ul.list-unstyled.m-t-md.mt50
            - @weights.each do |weight|
              %li
                %span.fsize-15{class: ("ml10" if weight.amount < 10)}
                  = "#{number_with_precision(weight.amount, precision: 2)} lbs"
                %span
                  = link_to "x", user_cat_weight_path(@user, @cat, weight), method: :delete, class: "btn btn-xs btn-danger ml20"
