.row
  .col-lg-12
    = render "users/weight_graph"

.row
  .col-lg-6
    - if @cat.new_record?
      = render "users/add_new_cat_form"
    - else
      = render "users/cat_stats"

  - if @cat.persisted?
    = render "users/cat_weights"


- if @cat.persisted?
  -#TODOD Need to do a content_for type thing here
  :javascript
    $(document).ready(function() {

      var weights = #{ @weights.map {|weight| weight.amount * 100 }};
      var dates   = #{ @weights.map {|weight| weight.created_at.to_i }};

      var graph_data_points = []

      for(i = 0; i < weights.length; i++){
        point = {x: dates[i], y: weights[i]};
        graph_data_points.push(point);
      };

      //For some reason an extra y0: point is being added. Only when using y for weight. Not sure why.
      //console.log(graph_data_points)

      var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        renderer: 'area',
        //height: 300,
        series: [{
            color: '#1ab394',
            data: graph_data_points,
            name: "lbs"
        }]
      });

      //X Axis
      var time = new Rickshaw.Fixtures.Time();
      var minutes = time.unit('minute');

      var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph,
        timeUnit: minutes
      });
      xAxis.render();

      //Y Axis
      //var yAxis = new Rickshaw.Graph.Axis.Y({
      //  graph: graph,
      //  orientation: 'left',
      //  element: document.getElementById('chart'),
      //});
      //yAxis.render();

      ////Adds hover functions
      var hoverDetail = new Rickshaw.Graph.HoverDetail( {graph: graph } );

      //Line smoothing amount. Not sure how this shit works
      //http://code.shutterstock.com/rickshaw/examples/extensions.html
      //var smoother = new Rickshaw.Graph.Smoother( {
      //  graph: graph,
      //  element: document.querySelector('#smoother')
      //} )

      graph.render();
    });
