.row
  .col-lg-12
    = render "users/weight_graph"

.row
  .col-lg-6
    - if @cat.new_record?
      = render "users/add_new_cat_form"
    - else
      = render "users/cat_stats"

  - if @cat.persisted?
    = render "users/cat_weights"


:javascript
  $(document).ready(function() {

      var lineData = {
          labels: ["January", "February", "March", "April", "May", "June", "July", "January", "February", "March", "April", "May", "June", "July"],
          datasets: [

              {
                  label: "Example dataset",
                  fillColor: "rgba(26,179,148,0.5)",
                  strokeColor: "rgba(26,179,148,0.7)",
                  pointColor: "rgba(26,179,148,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(26,179,148,1)",
                  data: #{@weight_amounts}
              },

              //{
              //    label: "Example dataset",
              //    fillColor: "rgba(220,220,220,0.5)",
              //    strokeColor: "rgba(220,220,220,1)",
              //    pointColor: "rgba(220,220,220,1)",
              //    pointStrokeColor: "#fff",
              //    pointHighlightFill: "#fff",
              //    pointHighlightStroke: "rgba(220,220,220,1)",
              //    data: [65, 59, 80, 81, 56, 55, 40]
              //}
          ]
      };

      var lineOptions = {
          scaleShowGridLines: true,
          scaleGridLineColor: "rgba(0,0,0,.05)",
          scaleGridLineWidth: 1,
          bezierCurve: true,
          bezierCurveTension: 0.4,
          pointDot: true,
          pointDotRadius: 4,
          pointDotStrokeWidth: 1,
          pointHitDetectionRadius: 20,
          datasetStroke: true,
          datasetStrokeWidth: 2,
          datasetFill: true,
          responsive: true,
      };


      var ctx = document.getElementById("lineChart").getContext("2d");
      var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

  });
