= content_for :head do
  -# amCharts javascript sources
  %script{:src => "http://cdn.amcharts.com/lib/3/amcharts.js", :type => "text/javascript"}
  %script{:src => "http://cdn.amcharts.com/lib/3/serial.js", :type => "text/javascript"}
  %script{:src => "http://cdn.amcharts.com/lib/3/themes/light.js", :type => "text/javascript"}

- if @cat.persisted? && @cat.weights.present?
  .row
    .col-lg-12
      #weight_graph
        = render "users/weight_graph"


.row
  - if @cat.persisted?
    .col-lg-6
      #add_weight
        = render "users/add_weight"

      -if @cat.weights.any?
        #cat_weights
          = render "users/cat_weights"

  .col-lg-6
    #cat_info
      - if @cat.new_record?
        = render "users/add_new_cat_form"
      - else
        = render "users/cat_stats"


- if @cat.weights.present?
  = content_for :javascript do
    :javascript




      //Need to set these variables so they are available in the js file
      var weights = #{ @weights.map {|weight| weight.amount }};
      var dates   = #{ @weights.map {|weight| weight.created_at.to_s }};

    -#= javascript_include_tag 'icheck.min',  'data-turbolinks-track' => true
    = javascript_include_tag 'weight_graph', 'data-turbolinks-track' => true
    = javascript_include_tag 'add_weight',  'data-turbolinks-track' => true




