!!!
%html
  %head
    %title Little Cat Labs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  -#amCharts custom font
  -#%link{:href => "http://fonts.googleapis.com/css?family=Covered+By+Your+Grace", :rel => "stylesheet", :type => "text/css"}

  -# amCharts javascript sources
  %script{:src => "http://cdn.amcharts.com/lib/3/amcharts.js", :type => "text/javascript"}
  %script{:src => "http://cdn.amcharts.com/lib/3/serial.js", :type => "text/javascript"}
  -#%script{:src => "http://cdn.amcharts.com/lib/3/themes/chalk.js", :type => "text/javascript"}
  %script{:src => "http://cdn.amcharts.com/lib/3/themes/light.js", :type => "text/javascript"}


  %body
    #wrapper
      = render "layouts/sidebar"

      #page-wrapper.gray-bg
        = render "layouts/topbar"
        = render "layouts/breadcrumbs"
        = render "layouts/flash_messages"

        .wrapper.wrapper-content.animated.fadeInRight
          = yield

        = render "layouts/footer"
